/* Настройки страницы проекта */

.project-page{
	/* кнопка смены проекта */
	.change-project{
		float: right;
		position: relative;
		width: 148px;
		height: 48px;
		padding-left: 12px;
		span{
			position: absolute;
			top: 17px;
			left: 22px;
		    padding-right: 9px;
 		} 		
 	}

/* панель информации о проекте */
	.information-panel{
		font: 13px/18px Arial, Helvetica, sans-serif;
		vertical-align: middle;
		margin-bottom: 30px;
		span, dl, dt, dd{
			display: inline-block;			
		}	
	}

	.payment-method{
		background-color: #e3d5ce;
		line-height: 30px;
		padding: 0 15px;
		color: #393b44;
		margin-right: 16px;
	}

	.persons, 
	.reports{
		padding-left: 30px;
		background: url(../images/icon-information.png) no-repeat;
		padding-right: 34px;		
	}

	.reports{
		background-position: 0 -18px;
	}

	/* ТАБЛИЦА */
	.tabs{
		font-family: Arial, Helvetica, sans-serif;
	}

	/* заголовок табов */
	.tab-holder{
		overflow: hidden;
		background-color: #e4e4e4;
		height: 80px;
		padding: 0 20px;
	}

	/* список табов */
	.tab-list{
		margin: 0;
		padding: 10px 65px 0 0;
		float: right;
		li{
			position: relative;
			list-style: none;
			float: left;
			width: 317px;
			height: 70px;
			background: url(../images/bg-tabset.png) no-repeat;
			font-size: 20px;
			line-height: 70px;
			padding-right: 8px;
			text-align: center;
			font-weight: bold;
			a{
				display: block;
				height: 100%;
				&:hover a{
					color: #ff4940;
					text-decoration: none;
				}	
			}
			
			&:first-child{
				margin-right: -25px;
			}			
		}		
	
		/* список табов: активный таб */
		.active{
			background-position: 0 -70px;
			z-index: 1;
			a{
				color: #393a44;
			}	
		}		
	}		

	/* кнопка добавления записи */
	.add-record{
		float: left;
		position:relative;
		width: 214px;
		height: 48px;
		padding-left: 16px;
		background-image: url(../images/time.png);
		background-position: 19px 50%; 
		margin-top: 15px;

		&.money{
			background-image: url(../images/money.png);
		}

	}

	/* содержимое таблицы */
	.tab-content{
		background-color: #fff;
		padding: 19px 20px;
	}

	.posts{
		border-bottom: 3px solid #e3e3e3;
		position: relative;
	}


	.bg-posts{
		position: absolute;
		bottom: -5px;
		left: 50px;
		background: url(../images/bg-posts.gif) no-repeat;
		width: 67px;
		height: 9px;
	}

	/* заголовок таблицы */
	.post-title{
		padding-left: 53px;
		margin-bottom: 11px;
		span{
			display: inline-block;
			font-size: 11px;
			line-height: 20px;
			background-color: #e4e4e4;
			padding: 0 9px;
		}
	}
	
	/* Заголовок даты */
	.date-title{
		margin-right: 383px;
	}
	
	/* Заголовок значения */
	.value-title{
		margin-right: 65px;
	}

	/* Запись таблицы */
	.post{
		margin-bottom: 11px;
	}

	/* иконка проекта */
	.icon{
		width: 57px;
		vertical-align: middle;
		a{
			margin-top: 5px;
			display: inline-block;
			width: 35px;
			height: 25px;
			background: #50a1d7;
			-webkit-box-shadow: inset 0px -2px 0px #4891c1;
			-moz-box-shadow: inset 0px -2px 0px #4891c1;
			box-shadow: inset 0px -2px 0px #4891c1;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			span{
				display: block;
				color: #fff;
				text-align: center;
				width: 35px;
				padding-top: 4px;
			}
			&:hover{
				background-color: #5ea9dd;
				-webkit-box-shadow: inset 0px -2px 0px #5498c6;
				-moz-box-shadow: inset 0px -2px 0px #5498c6;
				box-shadow: inset 0px -2px 0px #5498c6;
			}
			&:active{
				background-color: #227eb9;
				-webkit-box-shadow: inset 0px 2px 0px #268cce;
				-moz-box-shadow: inset 0px 2px 0px #268cce;
				box-shadow: inset 0px 2px 0px #268cce;
			}
		}
	}

	/* поле даты */
	.date{
		width: 147px;
	}

	/* поле пользователя */
	.user{
		width: 275px;

		/* имя сотрудника */
		.name{
			display: inline-block;
		}		
		
		/* иконка сотрудника */
		.avatar{
			display: inline-block;
			padding: 4px;
			width: 30px;
			height: 30px;
			line-height: 28px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			overflow: hidden;
			vertical-align: middle;
			margin-right: 9px;
		}	
	}

	/* поле значения */
	.value{
		width: 125px;
		span{
			background-color: #fff;
			padding: 0 8px;			
		}
	}

	/* поле комментария */
	.comment{
		width: 420px;
		padding: 8px 0 0 10px;
	}

	/* не редактируемая запись */
	.row-content{
		display: table;
		& > div{
			display: table-cell;
			vertical-align: top;
			line-height: 38px;
		}
		
		.user{
			background: url(../images/bg-date.gif) repeat-x 0 23px;
			.avatar-holder{
				display: inline-block;
				background-color: #fff;
				padding-right: 7px;
			}
		}
		
		.value{
			background: url(../images/bg-date.gif) repeat-x 0 23px;
		}
		
		.comment{
			line-height: 21px;				
		}
	}

	/* редактируемая запись */
	.row-form{
		width: 100%;
		border-top: 3px solid #e3e3e3;
		border-bottom: 3px solid #e3e3e3;
		padding: 20px 0 22px;
		& > div{
			display: table-cell;
			vertical-align: top;
		}
		
		/* дата */
		.date{
			width: 204px;
		}
		/* редактируемое поле значения */
		.value input[type="text"]{
			width: 88px;
			text-align: center;
		}
		
		/* редактируемое поле комментария */
		.comment{
			padding-top: 0;
			textarea{
				width: 388px;
				height: 58px;
				padding: 15px;
				resize: none;
				margin-bottom: 10px;
			}
			/* блок с кнопками */
			.buttom-box a{
				height: 50px;
				color: #fff;
				font: 16px/50px 'open_sansregular', sans-serif;
				text-align: center;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
	
				/* кнопки формы */
				&.save-btn{
					float: left;
					width: 190px;
				}				
				&.add-btn{
					float: left;
					width: 206px;
				}			
				&.delete-btn{
					float: right;
					width: 180px;
				}	
				&.cancel-btn{
					float: right;
					width: 160px;
				}
			}			
		}	
	}

	.row-form input[type="text"],
	.row-form textarea,
	.calendar{
		margin: 0;
		padding: 10px 0;
		border: 1px solid #bcbcbc;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		outline: none;
		height: 18px;
		font: 15px/18px Arial, Helvetica, sans-serif;
	}

	/* Блок текстовой части календаря*/
	.calendar{
		width: 168px;
		padding: 9px 0;
		height: 20px;
		position: relative;
		input[type="text"]{
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			border: none;
			border-left: 1px solid #bbb;
			width: 43px;
			height: 20px;
			padding: 0;
			text-align: center;
			&:first-child{
				border:none;
			}
		 	&.day{
			font-weight: bold;
			}
		}
		/* Кнопки открытия календаря */
		.icon-calendar{
			width: 21px;
			height: 20px;
			background: url(../images/icon-calendar.gif) no-repeat;
			display: inline-block;
			text-indent: -9999px;
		}
	
		/* Блок календаря */
		.calendar-holder{
			display: none;
			position: absolute;
			top: 38px;
			left: 50px;
		}
	}

	/* пользователем является автор */
	.authorized{
		 .user{
		 	.avatar{
				border: 2px solid #ff7b4e;
				padding: 2px;
			}
			.name{
				font-weight: bold;
			}			
		}		
	}

	/* запись не может редактироваться */
	.disabled{	
		.date{
			color: #3b850e;
		}
		.icon .not-edit{
			display: inline-block;
			margin: 5px 0 0 4px;
			width: 28px;
			height: 21px;
			background: url(../images/icon-disabled.gif) no-repeat;
			text-indent: -9999px;
		}
	}

	.more-posts{
		display: inline-block;
		padding: 20px 0 0 58px;
	}
}


