<div id="main" class="view-page">
	<ul class="breadcrumbs">
		<li><a href="#/project">Проекты</a></li>
		<li>Создание нового проекта</li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-md-2 control-label">Название проекта</label>
					<div class="col-md-8">
						<input type="text" class="form-control"
							placeholder="введите имя проекта">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Клиент</label>
					<div class="col-md-8">
						<input type="text" class="form-control"
							placeholder="укажите клиента">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Тип проекта</label>
					<div class="col-md-8">
						<div class="checkbox">
							<label> <input type="checkbox">Почасовка
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Сотрудники</h3>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="form-group">
					<div class="col-md-8">
						<input type="text" class="form-control"
							placeholder="введите имя проекта">
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>