<div class="view-page billing-page">
    <div class="content-panel clearfix">
        <div class="search">
            <input type="text" placeholder="Проект или клиент">
            <button></button>
        </div>

        <div class="date-period">
            <span>5 фев 2012</span> &mdash; <span>13 апр 2014</span>
            <a title="Редактировать" href="#" class="icon-edit"> <span class="glyphicon glyphicon-pencil"></span>&nbsp;</a>

            <div class="popup" style="display:none">
                <div class="clearfix">
                    <div class="calendar" datapicker>
                        <input type="text" class="day" ng-model="day" />
                        <input type="text" class="month" ng-model="month" />
                        <input type="text" class="year" ng-model="year" />
                        <a href="" class="icon-calendar">календарь</a>
                        <div class="calendar-holder"></div>
                    </div>

                    <div class="calendar" datapicker>
                        <input type="text" class="day" ng-model="day" />
                        <input type="text" class="month" ng-model="month" />
                        <input type="text" class="year" ng-model="year" />
                        <a href="" class="icon-calendar">календарь</a>
                        <div class="calendar-holder"></div>
                    </div>
                    <button class="bl-btn ok-btn">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="billing.items" class="table">
        <div class="thead">
            <div><span class="title">Проект и клиент</span></div>
            <div></div>
            <div><span class="icon-time"></span></div>
            <div><span class="icon-money"></span></div>
            <div><span class="title">К оплате</span></div>
            <div></div>
        </div>
        <div ng-repeat="item in billing.items | orderBy:['year','month'] | groupBy:['project.id']" class="item clearfix">
            <div ng-if="item.group_by_CHANGED" class="title">
                <span class="title-project">{{item.project.name}}</span>
                <span class="title-client">{{item.project.client}}</span>
            </div>
            <div class="row-content">
                <div>
                    <span>
                        {{(item.month - 1) | monthName}} {{$index !== 0 && item.year !== billing.items[$index - 1].year ? item.year : ''}}
                    </span>
                </div>
                <div><span>{{item.timeSum}} Р</span></div>
                <div><span>{{item.expSum}} Р</span></div>
                <div><span>{{item.timeSum + item.expSum}} Р</span></div>
                <div>
                    <span>
                        <a ng-click="createReport(item.project.id, item.year, item.month)">
                            <span class="icon-reports"></span>Создать отчет
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="bg-table"><span></span></div>
    </div>

    <div ng-if="!billing.items" class="table">
        <div class="table-alert">По всем проектам выставлены отчеты</div>
    </div>
</div>