<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:substituteby="layout :: headerFragment">

	<!-- ============================================================================ -->
    <!-- This <head> is only used for static prototyping purposes (natural templates) -->
    <!-- and is therefore entirely optionl, as this markup fragment will be included  -->
    <!-- from "layout.html" at runtime.                                            -->
    <!-- ============================================================================ -->
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Timebilling webapp</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/resources/css/bootstrap.min.css" 
    	th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link>
    
        <!-- Custom styles for all pages that include this fragment -->
    <link href="../public/resources/css/jumbotron.css" 
    	th:href="@{/resources/css/jumbotron.css}" rel="stylesheet"></link>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>    

<body>
    <div th:substituteby="layout :: menuFragment" >
    </div>

<div class="container">
<div class="row">
<div class="col-md-4">
<h2 class="sub-header">Проекты:</h2>
<a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" 
	th:href="@{|/app/${@appId.getId()}/projects/new|}" href="projectDetails.html">Создать проект</a>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>Описание</th>
                </tr>
              </thead>
				<tbody>
                    <tr th:each="projectItem : ${projects}">
                        <td>
                        	<a href="projectDetails.html" th:href="@{|/app/${@appId.getId()}/projects/${projectItem.id}|}"
               				th:text="${projectItem.name}">Проект 1</a></td>
                        <td th:text="${projectItem.description}">Описание проекта 1</td>
                    </tr>
				</tbody>
			</table>
		</div>
</div>
</div>		
</div>
</body>
</html>
